<div class="about">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="page-header">
          <div class="main-header">
            <h1>About Us</h1>
          </div>

          <!-- <div class="sub-header">
            <h6>About Us</h6>
          </div> -->
        </div>
      </div>

      <div class="col-12">
        <div class="about-inner">
          <div class="row">

            <div class="col-12 col-md-8 col-lg-6">
              <div class="texts">
                <h4>About Oregon Town Car</h4>
                <div class="seprator"></div>
                <p>After many years of working in the limousine industry, we’d learned that when it comes to limousines, people only want the best. A limousine trip is more than just transportation – it’s an experience. At <a routerLink="/homepage">Oregon Town Car</a> we provide the highest quality limousine service to our clients. <br> Committed to delivering only the utmost in class and distinction, Oregon Towncar is a proud provider of limousine and luxury transportation with our latest fleet of <a routerLink="/ourfleet">luxury vehicles</a> operated by our highly trained <a routerLink="/ourchauffeur"> chauffeurs.</a></p>
              </div>
            </div>

            <div class="col-12 col-md-4 col-lg-6">
              <div class="image">
                <img src="assets/img/ceo.png">
                <h6>Ali Al-Abbas</h6>
                <p>President and CEO</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="about-chips">
          <div class="row">

            <div class="col-12 col-md-6 col-lg-4">
              <div class="main-chip">
               <a href="https://accounts.oregontowncar.com/signup?_ga=2.74667282.143930801.1638027597-1699903475.1637752276" class="main-btn pink text-uppercase">Book Instantly Online Now <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="main-chip">
               <a routerLink="/ourservices" class="main-btn pink text-uppercase">Learn More About Our Services <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="main-chip">
               <a routerLink="/aboutus/presidentletter" class="main-btn pink text-uppercase">A Letter From the President <i class="fas fa-chevron-right"></i></a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="about-mission">
          <div class="row justify-content-center">

            <div class="col-12">
              <div class="texts">
                <h4>Our Mission</h4>
                <div class="seprator"></div>
                <p>We have made a commitment to providing impeccable service, focusing on the individual needs and requirements of our respective clients.</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <div class="plain-card">
                <img src="assets/img/about1.gif">
                <h5>Customer Service</h5>
                <p>Our customer support service is designed to alleviate customer frustration. 24 hours seven days.</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <div class="plain-card">
                <img src="assets/img/about4.gif">
                <h5>Online Chauffeur</h5>
                <p>Our customer now can track the driver and interact with them online. our chauffeur Tolerance, Patience, Understanding.</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <div class="plain-card">
                <img src="assets/img/feedback.gif">
                <h5>Feedback</h5>
                <p>Tell us how we’re doing. We appropriate your feedback (we read and respond everything).</p>
                <div class="feedback-btn">
                  <a href="https://g.page/oregon-town-car/review?gm" class="main-btn pink text-uppercase">Review us on Google</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
