<div class="global">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12">
        <div class="page-header">
          <div class="main-header">
            <h1>Global Chauffeur Network</h1>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-10 col-lg-10">
        <div class="global-inner">
          <!-- <h1>Global Chauffeur Network</h1> -->
          <p>Here at Oregon Town car, we take pride in our ability to deliver the best service when managing your
            transportation needs throughout your journey. Our services are available in over seven hundred cities
            worldwide, making us excellent in arranging smooth business and leisure trips.</p>
        </div>
      </div>

      <div class="col-12">
        <div class="tabs">

          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-chauffeurs-tab" data-toggle="tab" href="#nav-chauffeurs" role="tab" aria-controls="nav-chauffeurs" aria-selected="true">Chauffeurs</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
            </div>
          </nav>

          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-chauffeurs" role="tabpanel" aria-labelledby="nav-chauffeurs-tab">
              <h4>Chauffeurs</h4>
              <p>Employment Type: Full Time / Part Time.</p>

              <div class="description">
                <h5>Description</h5>
                <ul>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Provide safe operation of vehicles and comply with all motor vehicle regulations and traffic laws.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Provide timely pick-up and drop-off of our valued customers.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Maintain the appearance of vehicles while on duty.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Display and maintain a professional, personal appearance by total compliance with the dress code.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Communicate with dispatchers and sales team to promote and maintain workflow/customer satisfaction.</li>
                </ul>
              </div>

              <div class="qualifications">
                <h5>Qualifications</h5>
                <ul>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Excellent communication skills.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Commitment to providing exceptional customer service.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Pleasant, friendly, helpful demeanor.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Ability to multi-task.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Effective Time Management Skills.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Valid Driver’s License; for larger vehicles CDL B preferred with passenger endorsement & DOT card.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> High school diploma or GED equivalent preferred.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Punctual and reliable attendance.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Industry background preferred.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Strong knowledge of mapping programs.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Minimum age of 23 and clean driving record.</li>
                </ul>
              </div>

              <div class="note">
                <p>All employees must pass a background check and drug test.</p>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <h4>Dispatchers</h4>
              <p>Employment Type: Full Time / Part Time.</p>

              <div class="description">
                <h5>Description</h5>
                <ul>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Take customer and affiliate reservations from a multitude of communications channels including, email, telephone, and internet-based distribution systems.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Dispatch and scheduling limousine, van, bus, and other vehicle trips.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Confirm Driver availability.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Address customer concerns and service emergencies with urgency and care.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Maintain a clean, concise log of daily activities covering service levels, incidents, and vehicle maintenance status.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Conduct regular, consistent data entry and follow-up with attention to detail.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Communicate with drivers and sales team to promote and maintain workflow and customer satisfaction.</li>
                </ul>
              </div>

              <div class="qualifications">
                <h5>Qualifications</h5>
                <ul>
                  <li><i class="fas fa-long-arrow-alt-right"></i> High School Diploma or GED equivalent or 2 years or more related experience and/or training; or equivalent combination of education and experience.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Knowledge and practice of safety rules and procedures are required.</li>
                </ul>
              </div>

              <div class="note">
                <p>All employees must pass a background check and drug test.</p>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <h4>Reservation Agent</h4>
              <p>Employment Type: Full Time / Part Time.</p>

              <div class="description">
                <h5>Description</h5>
                <ul>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Take customer and affiliate reservations from a multitude of communications channels including, email, telephone, and internet-based distribution systems.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Dispatch and scheduling limousine, van, bus, and other vehicle trips.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Confirm Driver availability.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Address customer concerns and service emergencies with urgency and care.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Maintain a clean, concise log of daily activities covering service levels, incidents, and vehicle maintenance status.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Conduct regular, consistent data entry and follow-up with attention to detail.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Communicate with drivers and sales team to promote and maintain workflow and customer satisfaction.</li>
                </ul>
              </div>

              <div class="qualifications">
                <h5>Qualifications</h5>
                <ul>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Excellent communication skills.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Commitment to providing exceptional customer service.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Pleasant, friendly, helpful demeanor.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Ability to multi-task.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Effective Time Management Skills.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Valid Driver’s License; for larger vehicles CDL B preferred with passenger endorsement & DOT card.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> High school diploma or GED equivalent preferred.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Punctual and reliable attendance.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Industry background preferred.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Strong knowledge of mapping programs.</li>
                  <li><i class="fas fa-long-arrow-alt-right"></i> Minimum age of 23 and clean driving record.</li>
                </ul>
              </div>

              <div class="note">
                <p>All employees must pass a background check and drug test.</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

