@import "../../../../styles.scss";

.business{
  padding: 3.75rem 0;
  .business-inner{
    margin-top: 3.125rem;
    .image{
      text-align: center;
      margin-top: 1.25rem;
      img{
        width: 50%;
        height: auto;
        object-fit: cover;
        object-position: center;
        @include respond(tablet) {
          width: 100%;
        }
      }
    }
    p{
      color: $darkgray;
      padding-top: 1.25rem;
      font-size: 0.938rem;
      @include respond(tablet) {
        font-size: 1.063rem;
      }
      a{
        color: #fc6d43;
      }
    }
    ul{
      padding-left: 0;
      list-style: none;
      margin-top: 1.875rem;
      li{
        padding-top: 0.438rem;
        font-size: 0.938rem;
        color: $darkgray;
        @include respond(tablet) {
          font-size: 1.063rem;
        }
        i{
          padding-right: 0.625rem;
          color: $purple;
        }
      }
    }
  }
}
