<div class="slider" style="background-image: url(assets/img/book.jpg);">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-md-12 col-lg-8">
        <div class="main-heading">
          <h1>Hop in. Crack a window. Let’s get back out there.</h1>
          <p><i class="fab fa-xing"></i> Transportation is essentail for you personal and business needs</p>

          <div class="slider-btn">
            <a class="main-btn pink text-uppercase">Sign Up</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
