<div class="car-service">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-6 col-lg-6">
        <div class="left">
          <img src="assets/img/gif5.gif">
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-6">
        <div class="right">
          <h5 class="text-uppercase">drive with Oregon Town</h5>
          <h1>Oregon Town Car Service</h1>
          <p>Offers on time guarantee, luxury vehicles with chauffeur who are regularly screened, properly licensed and fully insured.</p>

          <div class="col-12">
            <div class="main">

              <div class="inner">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-1">
                    <div class="icon">
                      <i class="fas fa-lock"></i>
                    </div>
                  </div>

                  <div class="col-10 col-md-10 col-lg-11">
                    <div class="contents">
                      <h6>Safety privacy</h6>
                      <p>Fully licensed, background-checked.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="inner">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-1">
                    <div class="icon">
                      <i class="fas fa-headset"></i>
                    </div>
                  </div>

                  <div class="col-10 col-md-10 col-lg-11">
                    <div class="contents">
                      <h6>Customer service</h6>
                      <p>Customer service team 24/7.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="inner">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-1">
                    <div class="icon">
                      <i class="far fa-clock"></i>
                    </div>
                  </div>

                  <div class="col-10 col-md-10 col-lg-11">
                    <div class="contents">
                      <h6>On time</h6>
                      <p>On time every time guarantee.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="inner">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-1">
                    <div class="icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                  </div>

                  <div class="col-10 col-md-10 col-lg-11">
                    <div class="contents">
                      <h6>Flexible booking</h6>
                      <p>Book via phone, website, email and SMS.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="inner">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-1">
                    <div class="icon">
                      <i class="fas fa-bell"></i>
                    </div>
                  </div>

                  <div class="col-10 col-md-10 col-lg-11">
                    <div class="contents">
                      <h6>Get paid promptly</h6>
                      <p>Cash out your earnings whenever you want with Express Pay and Chauffeur Direct.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="inner">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-1">
                    <div class="icon">
                      <i class="fas fa-globe-americas"></i>
                    </div>
                  </div>

                  <div class="col-10 col-md-10 col-lg-11">
                    <div class="contents">
                      <h6>Worldwide</h6>
                      <p>Over 700 cities, we provide chauffeured transportation.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
