<div class="president">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="page-header">
          <div class="main-header">
            <h1>President Letter</h1>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="president-inner">
          <p>Dear Friends, Visitors, and Customers,</p>
          <p>Years ago, when I started out in this business, the question I kept asking myself was “How can we deliver the very best service to our customers.” I also asked my customers the same question, and I listened to what they had to say. This focus on the customer has attracted some of the best people in the business, and it is our people who consistently provide our customers with truly superior service.</p>
          <p>And what about our service? First, we want you to be comfortable and relaxed. This means always showing up a little early for our appointments, so you don’t spend any time wondering if we’ll be there. Our vehicles are always clean and attractive, as you would expect, and our drivers are helpful, friendly, and courteous. On top of that, we are responsive. If you want or need something special, just let us know and we’ll do our best to take care of it. Whatever you need us to do, that becomes our job.</p>
          <p>A part of our service is this state-of-the-art website, which I first introduced 10 years. Here our customers can make a reservation with us at any time of day and from anywhere in the world. Once you have a login username and password, this site stores your information safely so that future reservations can go much more quickly. Soon, we will be introducing the next version as we are constantly working to improve our customer’s experience.</p>
          <p>Although Oregon Town Car is centered in the greater Portland area, we have established a broad affiliate network so you can book your car services through us no matter where you are headed. We can offer you the same level of service you have come to expect from us because we have established standards that our affiliates must meet in order to qualify to receive reservations from us.</p>
          <p>It is extremely important to me to know how my customers feel about their experience with us. Please don’t hesitate to contact me and let me know what you think of our service or our website, whether it is positive or negative.</p>

          <div class="name">
            <p>Best regards,</p>
            <p>Ali Al-Abbas</p>
            <p>President & CEO</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

