<div class="global">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="main-global">
          <div class="row">

            <div class="col-12 col-md-6 col-lg-6">
              <div class="global-text">
                <h5 class="text-uppercase">Global Network</h5>
                <h1>Services available in <br> over 700 cities.</h1>
                <p>we provide chauffeured transportation in cities as familiar as Portland, New York City, Los Angeles, Las Vegas, Boston and many others, and as diverse as London, Tokyo and Barcelona, powered by a fleet of late-model luxury. sedans, SUVs, limousines and professional chauffeurs.</p>
                <p>over 700 cities   seven continents</p>
                <p>It’s a digital “headquarters” for all your company’s & personal  ground transportation. Get a clear view into all your trip activity and automate billing, expensing, and reporting.</p>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6">
              <div class="image">
                <img src="assets/img/map.gif">
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

