<div class="footer" style="background-image: url(assets/img/bg3.jpg);">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="row">

          <div class="col-12 col-md-5 col-lg-5">
            <div class="inner">
              <a routerLink="/homepage"><h3>Oregon Town Car</h3></a>
              <p>Services available in over 700 cities, we provide chauffeured transportation in cities as familiar as Portland, New York City, Los Angeles, Las Vegas, Boston and many others, and as diverse as London, Tokyo and Barcelona, powered by a fleet of late-model luxury.</p>

              <div class="footer-btn">
                <a href="#" class="main-btn pink text-uppercase">Subscribe</a>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-3 col-lg-3">
            <div class="inner">
              <h3>Company</h3>
              <ul>
                <li><a routerLink="/ourchauffeur">Our Chauffeur</a></li>
                <li><a routerLink="/employment">Employment</a></li>
                <li><a routerLink="/globalnetwork">Global Chauffeur Network</a></li>
                <li><a routerLink="/policyterms">Policies & Terms</a></li>
                <li><a routerLink="/privacypolicy">Privacy Policy</a></li>
              </ul>
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-4">
            <div class="inner">
              <h3>Contact Details</h3>

              <div class="locate">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-2">
                    <div class="icon">
                      <i class="fas fa-map-marker-alt"></i>
                    </div>
                  </div>

                  <div class="col-10 col-md-10 col-lg-10">
                    <div class="contents">
                      <h6>6700 SW 105th Ave Suite #213 Beaverton Oregon</h6>
                    </div>
                  </div>
                </div>
              </div>

              <div class="locate">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-2">
                    <div class="icon">
                      <i class="fas fa-phone-alt"></i>
                    </div>
                  </div>

                  <div class="col-10 col-md-10 col-lg-10">
                    <div class="contents">
                      <a href="tel:1503.353.7755">1503.353.7755 [ 24/7 support ]</a>
                      <p>M-F, 7.00am until 6.30pm office</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="locate">
                <div class="row">
                  <div class="col-2 col-md-2 col-lg-2">
                    <div class="icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                  </div>

                  <div class="col-10 col-md-10 col-lg-10">
                    <div class="contents">
                      <a href="tel:1503.353.7755"> Info@oregontowncar.com</a>
                      <p>We reply within 5 minutes</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>



