<div class="policies">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="page-header">
          <div class="main-header">
            <h1>Policies Terms</h1>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="policies-inner">
          <h5>Oregon Town Car Policies & Terms</h5>
          <p>By placing a reservation you acknowledge and expressly agree to the following policies, terms and conditions and further expressly authorize Oregon Town car Services LLC to charge your credit card in full for all charges relating to your reservation, including, but not limited to, charging your credit card in full for the reservation should you be considered a no-show. Service is deemed rendered, whether you enter the vehicle or not when the cancellation period is reached.</p>

          <div class="type">
            <ul>
              <li><i class="fas fa-arrow-right"></i> <span>Additional Charges:</span>  Additional charges may be added for cell phone usage, extra stops, and special parking fees.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Alcohol:</span>  All alcohol must be provided by the passengers. All passengers must be 21 years of age and have valid state-issued ID to consume alcohol in our vehicles.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Cancellation Policy for Sedan & SUV’s:</span> If a cancellation occurs less than 24 hours before the scheduled pickup time, full fare will be charged to the client. </li>
              <li><i class="fas fa-arrow-right"></i> <span>Cancellation Policy for Stretch Limousine:</span> A 30% Non-Refundable Deposit is required to hold all stretch Limousine reservations. Cancellations within 7 Days of this reservation forfeit 100% of the total bill. (Applies to Stretch Limousines, Vans & Coach Vehicles).</li>
              <li><i class="fas fa-arrow-right"></i> <span>Child Seat: </span> A car seat is available upon request and up to $20 fee for using the car seat.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Holiday Travel Policy:</span>  A 20% surcharge will be added to reservations booked on New Years Day, Memorial Day, 4th of July, Labor Day, Thanksgiving, and Christmas Day.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Hourly Charge:</span>  The charge for the “As-Directed” service when there is an itinerary involved or the chauffeur takes instructions from the customer; typically involves multiple stops.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Lost or Damaged Items:</span>  Oregon Towncar Services LLC and its Affiliates are not responsible for items that are left in the vehicle, lost or damaged. Oregon Towncar Services LLC reserves the right to charge a delivery fee for returning lost items if found. Oregon Towncar Services LLC, Affiliates, and their Chauffeurs will assist with luggage at a client’s request but assume no liability for doing so.</li>
              <li><i class="fas fa-arrow-right"></i> <span>No Show Policy:</span>  No show reservations will be charged the full trip plus any waiting time. Please call us at (503)353-7755 to avoid being billed as a no show.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Payment Method:</span>  We offer competitive rates; we accept all major credit cards, travelers’ checks, cashiers checks, cash, and service corporate accounts.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Privacy Policy:</span>  Oregon Towncar Services LLC and its Affiliates’ do not sell, rent, or disseminate your personal and financial information to any outside third parties.</li>
              <li><i class="fas fa-arrow-right"></i> Oregon Towncar Services LLC and its Affiliates reserve the right to use the information supplied to provide requested services and collect payment for services rendered in accordance with our rates, terms, and policies.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Smoking: </span>  There is no smoking in our cars. Anyone who smokes will be asked to extinguish the cigar/cigarette.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Termination of Reservation:</span>  Oregon Towncar Services LLC reserves the right to terminate any reservation at any time in the best interest of customer safety, driver safety, vehicle safety, and federal/state/local laws.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Vehicle Damage/Cleaning:</span>  The Party paying for the Reservation is responsible for all damages and/or cleaning charges incurred by the renter and/or Party of the Renter, including but not limited to: Vomit/Sickness ($150 Cleaning Fee), Alcohol Spillage ($100, Cleaning Fee), Broken Glassware ($30, Replacement Set), Burns ($500 Replacement/Repair), Upholstery Tears ($500 Replacement/Repair) and/or Opening a Car Door into another Vehicle or Stationary Object ($?), etc.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Wait Time Policy:</span>  There are a 10 minutes grace period after the scheduled pickup time, and a 30 minutes grace period after flight arrival time (at the airport). We monitor the status of all commercial flights Once the grace period has elapsed additional fees are charged at the rate of $1.00 per minute or $65.00 per hour.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Base Rate:</span>  The rate charged for basic transportation services before any Gratuity, STC, Fuel Surcharge, Airport Fee, International Arrival Fee, Incidental Charges, and/or Tax is added.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Rate Estimate:</span>  Rates quoted prior to service are only an initial estimate of the cost of services reserved. Wait time and/or additional services may change the final price.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Objectionable Persons:</span>  The Company reserves the right to refuse to transport persons under the influence of intoxication liquor or drugs, or who are, or are likely to become objectionable to other persons or if the Chauffeur feels threatened in any way.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Force Majeure:</span>  The Company shall not be liable for any failure or delay in performing its obligations under the Service Contract, and the Company shall not be deemed in breach of its obligations hereunder if such failure or delay is due to Acts of God, natural disasters, national, state or local states of emergency, acts of war or terrorism, labor strike or lock-out, or other industrial or transportation accident caused by any third party, any violation of the law, regulation or ordinance by any third party or any other cause not within the control of the Company.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Limitation of Liability:</span>  THE COMPANY SHALL NOT BE LIABLE IN ANY EVENT OR FOR ANY REASON, INCLUDING BREACH OF THIS AGREEMENT, EITHER DIRECTLY OR INDIRECTLY, TO THE OTHER PARTY OR ANY THIRD PARTY FOR ANY SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, EXEMPLARY OR CONSEQUENTIAL DAMAGES OR LOSS OF PROFITS ARISING OUT OF THIS AGREEMENT, EVEN IF SUCH DAMAGES WERE FORESEEABLE OR THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IT IS EXPRESSLY AGREED THAT THE COMPANY SHALL NOT, UNDER ANY CIRCUMSTANCES, BE LIABLE TO ANY PARTY FOR AN AMOUNT GREATER THAN THE SINGLE FARE FEE FOR THE DAY IN QUESTION.</li>
              <li><i class="fas fa-arrow-right"></i> <span>Authorization:</span>  No agent, employee or representative of the Company is authorized to alter, modify, or waive requirements stated in the conditions of transportation or service.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




