<div class="estimate">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="main-estimate">
          <div class="row">

            <div class="col-12 col-md-6 col-lg-5">
              <div class="left">
                <h1>Ready to roll? <br> Get a Oregon Town estimate.</h1>

                <form class="mt-5">
                  <div class="form-group">
                    <i class="fas fa-dot-circle"></i>
                    <input type="location" class="form-control" placeholder="Enter pick-up location*">
                  </div>

                  <div class="form-group">
                    <i class="fas fa-dot-circle purple"></i>
                    <input type="location" class="form-control" placeholder="Enter drop-off location*">
                  </div>
                </form>

                <div class="estimate-btn">
                  <a href="#" class="main-btn pink text-uppercase">Get estimate</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-7">
              <div class="right">
                <img src="assets/img/gif4.gif">
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


