@import "../../../../styles.scss";

.service{
  padding: 3.75rem 0;
  .service-heading{
    text-align: center;
    margin-top: 3.125rem;
    // h1{
    //   font-size: 2.5rem;
    //   font-weight: 600;
    //   color: $black;
    // }
    p{
      color: $darkgray;
      font-size: 0.938rem;
      padding-top: 0.313rem;
      @include respond(tablet) {
        font-size: 1.063rem;
        padding: 0 2.5rem;
      }
      @include respond(mobile) {
        padding: 0.313rem 0;
      }
    }
  }
  .main{
    margin-top: 3.75rem;
    @include respond(mobile) {
      margin-top: 1.25rem;
    }
    .service-inner{
      margin-top: 3.125rem;
      .left{
        margin-top: 2.5rem;
        @include respond(mobile) {
          margin-top: 0;
        }
        h4{
          font-size: 1.438rem;
          font-weight: 600;
          color: $black;
        }
        .seprator{
          background: $default;
          width: 50px;
          height: 3px;
          border-radius: 0.438rem;
          margin-top: 0.625rem;
        }
        p{
          padding-top: 0.938rem;
          font-size: 0.938rem;
          color: $darkgray;
          @include respond(tablet) {
            font-size: 1rem;
          }
          @include respond(mobile) {
            font-size: 1.063rem;
          }
        }
        .types{
          margin-top: 1.25rem;
          ul{
            padding-left: 0;
            list-style: none;
            li{
              padding-top: 0.625rem;
              a{
                font-size: 1rem;
                color: $black;
                @include respond(tablet) {
                  font-size: 0.938rem;
                }
                @include respond(mobile) {
                  font-size: 1.063rem;
                }
                @include respond(mobileM) {
                  font-size: 0.938rem;
                }
                i{
                  padding-right: 0.438rem;
                  color: $purple;
                }
                &:hover{
                  transition: 0.5s;
                  opacity: 0.5s;
                  color: $darkgray;
                }
              }
            }
          }
        }
      }
      .right{
        @include respond(mobile) {
          margin-top: 1.875rem;
        }
        img{
          width: 90%;
          height: 300px;
          object-fit: cover;
          object-position: center;
          border-radius: 2.813rem 0px 2.813rem 0;
          float: right;
          box-shadow: 0.125rem 0.313rem 0.625rem #787878;
          @include respond(tablet) {
            width: 100%;
            height: 250px;
          }
        }
      }
    }
  }
  .service-request{
    margin-top: 3.125rem;
    .plain-card{
      h5{
        font-size: 1rem;
        font-weight: 600;
        color: $black;
      }
      p{
        color: $darkgray;
        padding-top: 0.625rem;
        font-size: 0.875;
      }
      .service-btn{
        margin-top: 1.875rem;
      }
    }
  }
}
