<div class="service">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12">
        <div class="page-header">
          <div class="main-header">
            <h1>Our Services</h1>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8">
        <div class="service-heading">
          <!-- <h1>Our Services</h1> -->
          <p>Choose from a wide selection of vehicles ranging from luxury Sedan to Charter Bus, we have every type of luxury vehicles available to meet your needs.</p>
        </div>
      </div>

      <div class="col-12">
        <div class="main">

          <div class="service-inner">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="left">
                  <h4>Transportation</h4>
                  <div class="seprator"></div>
                  <p>We offer you a one-stop-shop for destination management, event planning, and chauffeured transportation. Any vehicle. Any event. Anywhere in the world!</p>

                  <div class="types">
                    <ul>
                      <li><a routerLink="/ourservices/airporttransfer"><i class="fas fa-long-arrow-alt-right"></i>Airport Transfers</a></li>
                      <li><a routerLink="/ourservices/businessmeetings"><i class="fas fa-long-arrow-alt-right"></i>Business Meetings (Road Shows As-Directed)</a></li>
                      <li><a routerLink="/ourservices/tour"><i class="fas fa-long-arrow-alt-right"></i>Tours</a></li>
                      <li><a routerLink="/ourservices/weddingtransfer"><i class="fas fa-long-arrow-alt-right"></i>Wedding Transfers</a></li>
                      <li><a><i class="fas fa-long-arrow-alt-right"></i>Sporting Events</a></li>
                      <li><a><i class="fas fa-long-arrow-alt-right"></i>Chauffeur Services</a></li>
                      <li><a><i class="fas fa-long-arrow-alt-right"></i>City To City</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-6">
                <div class="right">
                  <img src="assets/img/service2.jpg">
                </div>
              </div>
            </div>
          </div>

          <div class="service-inner">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="left">
                  <h4>Group Transportation</h4>
                  <div class="seprator"></div>
                  <p>Did you just realize that your company van is too small to transport all of your colleagues to that important meeting? Or do you have a lot of family coming into town for a wedding or another special occasion and they are all coming at different times? Let us help you to make your event a success. Instead of trying to arrange transportation for everyone on your list let us do it. Trust us to make sure everyone gets where they are supposed to be relaxed and on time. We can transport large and small groups to airports, meetings, or even family reunions. You tell us when, where, and how many people and we will provide first-class transportation for your VIP’s.</p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-6">
                <div class="right">
                  <img src="assets/img/service1.jpg">
                </div>
              </div>
            </div>
          </div>

          <div class="service-inner">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="left">
                  <h4>Airport Meet & Assist Service</h4>
                  <p>Another service that we offer is to meet and assist you or your guest when arriving at the airport. Our friendly airport concierge will personally guide you through any procedures you need to attend to before leaving the airport, and then deliver you to your driver and car.</p>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-6">
                <div class="right">
                  <img src="assets/img/service3.jpg">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="col-12">
        <div class="service-request text-center">
          <div class="row justify-content-center">

            <div class="col-12 col-md-6 col-lg-6">
              <div class="plain-card">
                <h5>Have a special need or request?</h5>
                <p>Just ask us</p>
                <div class="service-btn">
                  <a routerLink="/contactus" class="main-btn pink text-uppercase">Contact Us</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

