@import "../../../styles.scss";

.our-fleet{
  padding: 3.75rem 0;
  .fleet-inner{
    margin-top: 2.5rem;
    @include respond(tablet) {
      margin-top: 0.625rem;
    }
    .plain-card {
      text-align: center;
      background-color: #f9f9f9;
      margin-top: 2.5rem;
      h5 {
        color: #0c0b31;
        font-size: 1.125rem;
        font-weight: 600;
        @include respond(tablet) {
          font-size: 1.25rem;
        }
      }
      img {
        margin-top: 0.938rem;
        width: 110px;
        height: 80px;
        object-fit: cover;
        object-position: center;
      }
      .types {
        padding-top: 0.938rem;
        display: flex;
        p {
          font-size: 0.813rem;
          color: $darkgray;
          padding: 0.313rem 0.313rem 0px 0.313rem;
          @include respond(tablet) {
            font-size: 0.938rem;
          }
          @include respond(mobile) {
            font-size: 1.063rem;
          }
          i{
            color: $purple;
            font-size: 0.813rem;
            padding-right: 0.188rem;
          }
        }
      }
    }
  }
}
